Django==2.1.7
daphne==2.3.0
autobahn==19.3.3
twisted==19.2.0
async-timeout==3.0.1
pytz==2018.9
six==1.12.0
txaio==18.8.1
constantly==15.1.0
incremental==17.5.0
Automat==0.7.0
hyperlink==19.0.0
PyHamcrest==1.9.0
attrs==19.1.0
setuptools==40.6.2
idna==2.8
asgiref==3.1.2
channels==2.1.7
aioredis==1.2.0
msgpack==0.6.1
hiredis==1.0.0
channels_redis==2.3.3
mysqlclient==1.4.2.post1
django-mysql==3.0.0.post1
