{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Everybody Plays Tetris</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'css/tetris.css' %}">
    </head>

    <body>
        <div style"position:relative">
            <!--keep width and height here not in css, otherwise the canvas will look strange-->
            <canvas id="canvas_grid" width="300px" height="600px"></canvas> <!--displays the grid and borders-->
            <canvas id="canvas" width="300px" height="600px"></canvas> <!--displays everything else-->
        </div>

        <div align="right">
            <input id="xInput" type="number" min="0" max="9" value="0"><br>
            <input id="yInput" type="number" min="0" max="19" value="0"><br>
        </div>

        <script>
            var roomName = {{room_name}}; //can't be in the js file for some reason
        </script>

        <script src="{% static 'js/piece.js' %}"></script>
        <script src="{% static 'js/field.js' %}"></script>
        <script src="{% static 'js/tetris.js' %}"></script>
    </body>
</html>